


#doc-lists {
    padding: 20px;
}

ul.list-names li a {
    text-decoration: underline;
    color: var(--secondary-color);
}
ul.list-names li a.bracket {
    color: var(--primary-color);
}

ol.docs li a {
    color: var(--secondary-color);
}
ol.docs li a small {
    color: var(--primary-color);
}

.route-create {
}
