

header#site  nav {
    background-color: #18334F !important;
}
.main.jumbotron {
    padding: 30px;
    background-color: #193654;
    color: white;
}
.main.jumbotron img.logo {
    padding-right: 10px !important;
}
.main.jumbotron .desc {
    padding-left: 10px !important;
    padding-top: 20px;
}

main#contents {
}

.site-desc {
    font-size: 12px;
}

.footer {
    background-color: #666565;
}
#copyright, #copyright div p, #copyright p, #copyright a, #copyright p a, #copyright div p a {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

ul.errors {
    display: block;
    padding: 1px;
    margin: 1px;
}

ul.errors li {
    list-style-type: none;
    display: inline-block;
}

.bracket::before { content: "[" }
.bracket::after  { content: "]" }

.info.doc-state {
    color: white;
    padding: 1px;
    border-radius: 3px;
}
.info.doc-state.disapproved {
    background-color: red;
}

.info.doc-state.ongoing {
    background-color: green;
}

.info.doc-state.completed {
    background-color: blue;
}
div.notif-msg {
    margin: 10px;
}
div.notif-msg.unread {
    border-left: 10px solid rgba(200, 200, 90, 0.6);
}
