
body {
    font-size: 20px;
    font-family: Monospace;
    color: cyan;
    background-color: #333;
}

section {
    padding: 20px;
    background-color: #555;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px;
}

ul.errors {
    list-style-type: square;
    color: #d33;
}
.error { color: #d33; }

input, textarea, button, select {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

input[type=submit], button, select {
    color: white;
    background-color: #522;
}

.full { width: 98%; }
.half { width: 50%; }
.center { text-align: center; }
.right { text-align: right; }

.site-wrap {
    width: 900px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid #eee;
}

td.action a {
    font-size: 15px;
    color: #f99;
    text-decoration: none;
}
td.action a::before { content: "["; }
td.action a::after { content: "]"; }

table tbody tr.sel {
    background-color: #6b6;
}
table tbody tr.no-sel {
    background-color: inherit !important;
}
table tbody tr:hover {
    background-color: gray;
    cursor: pointer;
}
table tbody tr.sel:hover {
    background-color: #3d3;
    cursor: pointer;
}

table tbody td.details {
    border-left: 10px solid white;
}

button.action {
    font-size: 20px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

