
html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #337;
}

section {
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

ul.msgs {
    list-style-type: square;
    color: #3d3;
}
ul.errors {
    list-style-type: square;
    color: #d33;
}
.error { color: #d33; }

input, textarea, button, select {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

input[type=submit], button, select {
}

select[disabled] {
    background-color: white;
    border: 0px;
}

.full { width: 98%; }
.half { width: 50%; }
.center { text-align: center; }
.right { text-align: right; }

.site-wrap {
    background-color: #f8f8f8;
    grid-area: body;
    align-self: stretch;
    margin: 10px 50px;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid #eee;
}

td.action a {
    font-size: 15px;
    color: #f99;
    text-decoration: none;
}
td.action a::before { content: "["; }
td.action a::after { content: "]"; }

table tbody tr.sel {
    border-right: 10px solid #6b6;
}
table tbody tr.no-sel {
    background-color: inherit !important;
}
table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
table tbody tr.sel:hover {
    background-color: #e0f0e0;
    cursor: pointer;
}
table tr.indented td:first-child {
    padding-left: 80px;
    border-left: 5px solid gray;
}

table tbody td.details {
    border-left: 10px solid white;
}

a.action::before { content: "["}
a.action::after { content: "]"}
button.action {
    font-size: 20px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

li.sel {
    list-style-type: square;
    text-decoration: underline;
}
li.sel a {}
li.sel::before { content: "["; }
li.sel::after  { content: "]"; }

li.new a {
}
li.new a::after {
    content: " (new) ";
    font-size: 13px;
}

.site-wrap nav.main {
    background-color: gray;
    padding: 10px;
}
nav.main ul{
    padding: 0px;
    margin: 0px;
}
nav.main li {
    display: inline;
    margin-right: 20px;
}
nav.main li a {
    text-decoration: underline;
    color: white;
}

header.site {
    margin-bottom: 15px;
    padding: 5px;
    background-color: #ca0;
    grid-area: header;
}
header.site a {
    color: white;
    text-decoration: none !important;
}
div.flash-success {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    border-color: rgba(80, 250, 80, 0.5);
    background-color: rgba(80, 250, 80, 0.2);
}
div.flash-error {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    border-color: rgba(200, 20, 80, 0.5);
    background-color: rgba(200, 20, 80, 0.2);
}

header.site nav.main li {
    margin-right: 5px;
}
header.site nav a {
    font-size: 30px;
}
header.site nav a:hover {
    color: red;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(150, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

p.info {
    padding-left: 5px;
    border-left: 7px solid #dd6;
}

a.notifications {
    text-decoration: none !important;
    padding: 5px 10px;
    color: #333;
    background-color: #ddd;
    display: inline-block;
}
a.has.notifications {
    background-color: red;
}

a.notifications img {
    width: 20px;
}

div.notif-msg {
    margin: 10px;
}
div.notif-msg.unread {
    border-left: 10px solid rgba(200, 200, 90, 0.6);
}
div.notif-msg:hover {
    background-color: #efe;
    cursor: pointer;
}

div.autologout {
    background-color: yellow;
    color: green;
    padding: 50px;
    bottom: 0px;
    right: 0px;
    position: fixed;
}

body {
    display: grid;
    align-content: stretch;
    justify-content: end;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:
        auto
        1fr
        20px;
    grid-template-areas:
        "header header header header header header"
        "body body body body body body"
        "footer footer footer footer footer footer "
}

footer {
    font-size: 12px;
    padding: 5px;
    color: white;
    background-color: #ca0;
    grid-area: footer;
}

footer a {
    color: white;
}

button.autofill {
    background-color: red;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}
